* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/* NAVBAR */
.navbar {
	/* z-index: 5;
	height: 100px;
	position: absolute;
	padding: 10px;
	text-align: center;
	width: 100%; */
	position: fixed;
	top: 0px;
	width: 100vw;
	height: 5vh;
	background-color: #ea5b0c;
	display: flex;
	align-items: right;
	justify-content: right;
}
a {
	color: #f2f2f2;
	padding: 14px 26px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	text-decoration: none;
	font-family: 'Anton', 'Montserrat', sans-serif;
	text-transform: uppercase;
}

/* HOME SECTION  */
#home {
	height: 100vh;
	width: 100vw;
}
.bcgimg {
	/* position: absolute; */
	height: 100vh;
	width: 100vw;
	background-image: url('/img/taylor-smith-selWWrPDkoc-unsplash.jpg');
	background-position: center;
	background-size: cover;
}
.bcgimg_text1 {
	color: #ea5b0c;
	font-family: 'Anton', 'Montserrat', sans-serif;
	font-size: 100px;
	position: absolute;
	top: 40%;
	left: 40%;
	text-transform: uppercase;
}
.bcgimg_text2 {
	color: #ea5b0c;
	font-family: 'Anton', 'Montserrat', sans-serif;
	font-size: 100px;
	position: absolute;
	top: 60%;
	left: 55%;
	text-transform: uppercase;
}

/* PRODUCTS  */
#products {
	height: 100vh;
	width: 100vw;
}
h2 {
	color: #ea5b0c;
	font-family: 'Anton', 'Montserrat', sans-serif;
	font-size: 80px;
	text-align: center;
	text-transform: uppercase;
	padding: 35px;
}
p {
	font-family: 'Montserrat', sans-serif;
}
/* UPP ROW  */
.upp_row {
	height: 300px;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding-left: 200px;
	padding-right: 200px;
}
img {
	height: 300px;
	width: 250px;
}
.skateboard1 {
	display: flex;
	width: 450px;
}
.skateboard2 {
	display: flex;
	width: 450px;
}
.skateboard3 {
	display: flex;
	width: 450px;
}
h3 {
	font-family: 'Anton', 'Montserrat', sans-serif;
	font-size: 25px;
	width: 100%;
}
.skate_p {
	width: 100%;
}
/* DOWN ROW  */
.down_row {
	padding-top: 100px;
	height: 300px;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding-left: 200px;
	padding-right: 200px;
}
/* .skateboards_up {
	width: 100vw;
	height: 300px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
img {
	height: 300px;
	width: 200px;
}
.skateboards_up1_txt {
	float: left;
}
h3 {
	color: black;
	font-family: 'Anton', 'Montserrat', sans-serif;
	font-size: 20px;
	/* text-align: center; */

/* p {
	height: 300px;
	width: 100px;
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
} */
